@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_links {
    margin-left: 16px;
    text-decoration: none;
    font-size: 24px;
    color: #1b17ff;
    font-weight: bold;
    padding: 8px;
}

.nav_link:hover {
    text-decoration: underline;
}

.nav_link--primary {
    border: 2px solid #1b17ff;
    border-radius: 4px;
}

.nav_link--primary:hover {
    text-decoration: underline;
}