@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.landing--nav_container {
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #1b17ff37;
}

header {
    background-color: #1b17ff37;
    height: calc(100vh-70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_email--input {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
    margin-right: 8px;
}


